@media (max-width: 1350px){
    .wwn_configuration_main .text-input-textarea {
    width: 250px;
}
.wwn_configuration_main .text-input {
    width: 250px;
}
.wwn_configuration_main input {
    width: 200px;
}
}
@media (max-width: 1024px){
    .wwn_config_wrap, .wwn_first_template {
     width: 100%; 
    float: left;
}
.wwn_configuration_main .text-input,
.wwn_configuration_main .text-input-textarea{
    width: 400px;
}
}
@media (max-width: 767px){
    .wwn_first_template table{
        width: 100%;
    }
    .wwn_configuration_main .text-input,
.wwn_configuration_main .text-input-textarea{
    width: 100%;
}
.wwn_configuration_main .text-input-textarea, .wwn_configuration_main .text-input {
    font-size: 13px;
}
.wwn_first_template .submit-btn {
    padding: 0px 15px;
}
}
@media (max-width: 576px){
    .wwn_configuration_main th {
    width: 140px;
}
}

